@import "../../assets/styles/variables";

.Card {
  font-family: 'ProximaNova', sans-serif;
  color: $primaryGray;
  border: 1px solid $primaryGray;
  box-sizing: border-box;
  min-width: 106px;
  height: 110px;
  border-radius: 0.25em;
  margin: 7px;
  &:hover {
    border: 2px solid $secondGray;
  }
  &-active {
    border: 2px solid $successColor;
    &:hover {
      border: 2px solid $successColor;
    }
  }
  .Mural-size {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      font-weight: 600;
      color: $secondGray;
      border: 1px solid $secondGray;
      font-size: 10px;
      width: 50px;
      height: 50px;
      display: inherit;
      align-items: inherit;
      justify-content: inherit;
    }  
  }
  p {
    font-size: 11px;
    margin: 0;
    text-align: center;
  }
  p:first-of-type {
    font-family: "ProximaNova-Bold";
    color: $secondGray;
  }
}

