@import "../../assets/styles/variables";

.CustomForm {
  form{
    .form-group {
      position: relative;
      padding-top: 1rem;
      margin: 2% 1%;
      width: 16%;
      display: inline-block;
      input {
        width: 60px;
        border-radius: 5px;
        border: 1px solid $primaryGray; 
        padding: 14px;
        font-size: 15px;
        &[type=number]::-webkit-inner-spin-button, 
        &[type=number]::-webkit-outer-spin-button { 
          -webkit-appearance: none; 
          margin: 0; 
        }
        &[type=number] {
            -moz-appearance:textfield;
        }
        &:focus {
          outline: 0px;
          border-color: $successColor;
        }
      }
      label {
        color: $primaryGray;
        font-family: "ProximaNova-Light";
        position: absolute;
        font-size: 11px;
        top: 0;
        padding-left: 4px;
      }  
    }
    button {
      color: white;
      width: 96px;
      height: 46px;
      border-radius: 5px;
      border: 1px solid $successColor;
      background-color: $successColor; 
      float: right;
      margin: 10px;
      bottom: 0;   
      font-size: 16px; 
      font-family: "ProximaNova-Light";
      &:disabled{
        background-color: #e0e0e0;
        border-color: #e0e0e0;
        color: $secondGray;
      }
    }
    .error {
      color: red;
      font-size: 13px;
      margin-left: 2%;
    }
  }
}

