@import "./variables.scss";

.CustomForm {
  form{
    .form-group {
      position: relative;
      padding-top: 1rem;
      margin: 2% 1%;
      width: 16%;
      display: inline-block;
      input {
        width: 80px;
        height: 38px;
        border-radius: 5px;
        border: 1px solid $primaryGray;
      }
      label {
        color: $primaryGray;
        position: absolute;
        font-size: 12px;
        top: 0;
        padding-left: 4px;
      }  
    }
    button {
      color: white;
      width: 90px;
      height: 44px;
      border-radius: 5px;
      border: 1px solid $successColor;
      background-color: $successColor; 
      float: right;
      margin: 10px;
      bottom: 0;   
      font-size: 15px; 
    }
  }
}

