@import "./variables.scss";

.Slider {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  width: 570px;
  margin: 0 auto;
  overflow-x: hidden;
  margin-top: 5%;
  background: white;
  border-radius: 0.25em;
  .wrapper {
    display: inline-flex;
    left: 3%;
    transition: transform 600ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  h4 {
    color: $secondGray;
    margin: 10px 8px 0px;
    font-size: 12px;
  }  
}