.Slider {
  border: 1px solid red;
  display: flex;
  height: 80vh;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 33%;
  margin: 0 auto;
  overflow-x: hidden;
  .wrapper {
    display: inline-flex;
    position: absolute;
    left: 3%;
    transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }  
}