.Slider {
  display: flex;
  height: 80vh;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 33%;
  margin: 0 auto;
  overflow-x: hidden;
  .wrapper {
    display: inline-flex;
    position: absolute;
    left: 0%;
  }  
}