@font-face {
  font-family: "ProximaNova";
  src: url("/fonts/ProximaNova-Regular.otf") format("otf"),
}

@font-face {
  font-family: "ProximaNova-Bold";
  src: url("/fonts/ProximaNova-Bold.otf") format("otf"),
}

@font-face {
  font-family: "ProximaNova-Light";
  src: url("/fonts/ProximaNova-Light.otf") format("otf"),
}

@font-face {
  font-family: "ProximaNova-SemiBold";
  src: url("/fonts/ProximaNova-Semibold.otf") format("otf"),
}

