@import "/assets/styles/fonts";

html {
  background: #f1f1f1;
}
body {
  font-family: "ProximaNova";
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

